<div class="container">
	<div class="row">
		<div class="col-md-12" id="burgerPic">
			<img src="/assets/images/drunken-monk1.png" alt="burger" class="img-responsive center-block">
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<h1 class="text-center" style="color:rgb(242, 242, 248);">Fancy Burger!</h1>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style>
			<h3>Yummy Burgers</h3>
			<ul>
				{{#each burgers}} {{#unless this.devoured}}
			</ul>
			<h5>{{this.id}}. {{this.burger_name}}</h5>
			<button type='submit' data-id={{this.id}} class="btn btn-default burgBtn">EAT ME!</button>

			{{/unless}} {{/each}}

		</div>
		<div class="col-md-2"></div>
		<div class="col-md-6">
			<h3 class="devouredBurger">Eaten Burgers</h3>

			<ul>
				{{#each burgers}} {{#if this.devoured}}
				<li>
					<h5 class="devouredBurger">{{this.id}}. {{this.burger_name}}</h5>
				</li>
				{{/if}} {{/each}}
			</ul>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-md-12 text-center">
			<form class="create-update-form input-lg" action="burgers/insertOne" method="POST">
				<div class="form-group">
					<h5>What type of burger would you like?</h5>
					<input class="form control" id="newBurger" type="text" placeholder="Default input">
					<br>
					<button type="button" class="btn btn-default" id="betterBurger">Submit</button>

				</div>
			</form>
		</div>

	</div>

</div>